<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.CompanyMapper">
    <insert id="insertCompany">
        insert into company(company_name)
        values (#{companyName})
    </insert>
    <delete id="deleteCompanyByID">
        delete from company
        where company_id = #{companyID}
    </delete>
    <select id="selectAllCompany" resultType="com.ruoyi.system.domain.entity.Company">
        select * from company
    </select>

</mapper>