<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.FilesMapper">
    <insert id="insertFiles">
        insert into scMoAnnoFiles (task_name) values(#{taskName} )
    </insert>
    <insert id="insertFileHash">
        insert into fileHashReference(hash, file_name) values (#{hash}, #{randomFileName})
    </insert>
    <update id="updateFiles1">
        update scMoAnnoFiles set scRNA_seq_file = #{randomFileName} where task_name = #{taskName}
    </update>
    <update id="updateFiles2">
        update scMoAnnoFiles set scATAC_seq_file = #{randomFileName} where task_name = #{taskName}
    </update>
    <update id="updateFiles3">
        update scMoAnnoFiles set Tag_file = #{randomFileName} where task_name = #{taskName}
    </update>
    <update id="updateFileHashNum">
        update fileHashReference set reference_count = reference_count + #{index} where file_name = #{fileName}
    </update>
    <select id="findFileByTaskName" resultType="com.ruoyi.system.domain.entity.Scmoannofiles">
        select * from scmoannofiles where task_name = #{taskName}
    </select>
    <select id="findFileByHash" resultType="java.lang.String">
        select file_name from fileHashReference where hash = #{hash}
    </select>
    <select id="getFileHashNum" resultType="java.lang.Integer">
        select reference_count from filehashreference where file_name = #{fileName}
    </select>
    <select id="findFilesByTaskName" resultType="com.ruoyi.system.domain.entity.Scmoannofiles">
        select * from scmoannofiles where task_name = #{taskName}
    </select>

</mapper>