<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ModelImageMapper">

    <resultMap id="ModelImageResult" type="com.ruoyi.system.domain.entity.ModelImage">
        <id property="modelId" column="model_id"/>
        <result property="modelName" column="model_name"/>
        <result property="modelType" column="model_type"/>
        <result property="figurePath" column="figure_path"/>
<!--        <result property="figureByte" column="figure_byte"/>-->
<!--        <result property="updateTime" column="update_time"/>-->
    </resultMap>

    <select id="selectAllModelImages" resultType="com.ruoyi.system.domain.entity.Models">
        SELECT *
        FROM models
    </select>

    <select id="selectModelImageById" parameterType="Long" resultType="com.ruoyi.system.domain.entity.Models">
        SELECT *
        FROM models
        WHERE model_id = #{modelId}
    </select>

    <select id="selectModelImagesByType" parameterType="String" resultMap="ModelImageResult">
        SELECT *
        FROM models
        WHERE model_type = #{modelType}
    </select>

</mapper>