<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ModelMapper">
    <insert id="addModel">
        insert into models(model_name, model_type, model_path, predict_file_path, train_file_path, default_parameters, figure_path, remark, extract_labels, user_name, company_name)
        VALUES (#{modelName}, #{modelType}, #{modelPath}, #{predictFilePath}, #{trainFilePath}, #{defaultParameters}, #{figurePath}, #{remark}, #{extractLabels}, #{userName}, #{companyName})
    </insert>
    <update id="updateModel">
        update models
        <set>
            <if test="modelName!=null"> model_name = #{modelName}, </if>
            <if test="modelName!=null"> model_type = #{modelType}, </if>
            <if test="modelName!=null"> model_path = #{modelPath}, </if>
            <if test="modelName!=null"> predict_file_path = #{predictFilePath}, </if>
            <if test="modelName!=null"> train_file_path = #{trainFilePath}, </if>
            <if test="modelName!=null"> figure_path = #{figurePath}, </if>
            <if test="modelName!=null"> default_parameters = #{defaultParameters}, </if>
            <if test="modelName!=null"> remark = #{remark}, </if>
            <if test="modelName!=null"> extract_labels = #{extractLabels}, </if>
            <if test="modelName!=null"> user_name = #{userName}, </if>
            <if test="modelName!=null"> company_name = #{companyName}, </if>
        </set>
        where model_id = #{modelId}
    </update>
    <delete id="deleteModel">
        delete models from models where model_id = #{modelId}
    </delete>
    <select id="getAllModels" resultType="com.ruoyi.system.domain.entity.Models">
        select * from models
    </select>
    <select id="getModelById" resultType="com.ruoyi.system.domain.entity.Models">
        select * from models where model_id = #{modelId}
    </select>
</mapper>