<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ModelMapper">
    <insert id="addModel">
        insert into models(model_name, model_type, model_path, predict_file_path, train_file_path, figure_path, default_parameters, remark, extract_labels, user_name, company_name, pretrain_model, pretrain_model_path)
        VALUES (#{modelName}, #{modelType}, #{modelPath}, #{predictFilePath}, #{trainFilePath}, #{figurePath}, #{defaultParameters}, #{remark}, #{extractLabels}, #{userName}, #{companyName}, #{pretrainModel}, #{pretrainModelPath})
    </insert>
    <insert id="addChildModel">
        insert into models(model_name, model_type, model_path, predict_file_path, train_file_path, figure_path, default_parameters, remark, extract_labels, user_name, company_name, pretrain_model, pretrain_model_path, base_model)
        VALUES (#{modelName}, #{modelType}, #{modelPath}, #{predictFilePath}, #{trainFilePath}, #{figurePath}, #{defaultParameters}, #{remark}, #{extractLabels}, #{userName}, #{companyName}, #{pretrainModel}, #{pretrainModelPath}, #{baseModel})
    </insert>
    <update id="updateModel">
        update models
        <set>
            <if test="modelName!=null"> model_name = #{modelName}, </if>
            <if test="modelName!=null"> model_type = #{modelType}, </if>
            <if test="modelName!=null"> model_path = #{modelPath}, </if>
            <if test="modelName!=null"> predict_file_path = #{predictFilePath}, </if>
            <if test="modelName!=null"> train_file_path = #{trainFilePath}, </if>
            <if test="modelName!=null"> figure_path = #{figurePath}, </if>
            <if test="modelName!=null"> default_parameters = #{defaultParameters}, </if>
            <if test="modelName!=null"> remark = #{remark}, </if>
            <if test="modelName!=null"> extract_labels = #{extractLabels}, </if>
            <if test="modelName!=null"> user_name = #{userName}, </if>
            <if test="modelName!=null"> company_name = #{companyName}, </if>
            <if test="modelName!=null"> pretrain_model = #{pretrainModel}, </if>
            <if test="modelName!=null"> pretrain_model_path = #{pretrainModelPath}, </if>
        </set>
        where model_id = #{modelId}
    </update>
    <update id="updateModelRemark">
        update models
            set remark = #{remark}
        where model_id = #{modelId}
    </update>
    <delete id="deleteModel">
        delete models from models where model_id = #{modelId}
    </delete>
    <select id="getAllModels" resultType="com.ruoyi.system.domain.entity.Models">
        select * from models order by model_id ASC;
    </select>
    <select id="getModelById" resultType="com.ruoyi.system.domain.entity.Models">
        select * from models where model_id = #{modelId}
    </select>
    <select id="findModelsByUserName" resultType="com.ruoyi.system.domain.entity.Models">
        SELECT *
            FROM models
            WHERE user_name = #{userName};
    </select>
    <select id="getBaseModelName" resultType="java.lang.String">
        SELECT model_name
        FROM models
        WHERE model_id = #{baseModel}
    </select>
</mapper>