<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.system.mapper.TaskMapper">
    <insert id="insertTask">
        insert into scMoAnnoTask(task_name, start_time, uploader_id, details, type, parameters, model_id, re_pretrain)
        values(#{taskName}, #{startTime}, #{uploaderId}, #{details}, #{type}, #{parameters}, #{modelId}, #{rePretrain} )
    </insert>
    <update id="updateTaskStatus">
        update scmoannotask
        set status = #{status}, details = #{details}
        where task_id = #{id}
    </update>
    <update id="updateTaskEndTime">
        update scmoannotask
        set end_time = #{time}
        where task_id = #{id}
    </update>
    <update id="updateTaskStatusByTaskName">
        update scmoannotask
        set status = #{status}
        where task_name = #{taskName}
    </update>
    <delete id="deleteTasksByTaskId">
        delete scmoannotask from scmoannotask where task_id = #{id}
    </delete>
    <delete id="deleteTasksByTaskName">
        delete scmoannotask from scmoannotask where task_name = #{taskName}
    </delete>
    <select id="findTasksByUserId" resultType="java.util.Map">
        SELECT *
                FROM scmoannotask t
                JOIN models m ON t.model_id = m.model_id
                WHERE t.uploader_id = #{id};
    </select>
    <select id="findAllTasksWithUserInformation" resultType="java.util.Map">
        SELECT *
            FROM scMoAnnoUser u
            JOIN scMoAnnoTask t ON u.user_id = t.uploader_id
            JOIN models m ON t.model_id = m.model_id;
    </select>
    <select id="findTaskByTaskName" resultType="com.ruoyi.system.domain.entity.Scmoannotask">
        select * from scmoannotask where task_name = #{taskName}
    </select>
    <select id="findUserNameByTaskName" resultType="java.lang.String">
        SELECT u.user_name
            FROM scMoAnnoTask t
            JOIN scMoAnnoUser u ON t.uploader_id = u.user_id
            WHERE t.task_name = #{taskName};
    </select>
    <select id="findTaskByShareId" resultType="com.ruoyi.system.domain.entity.Scmoannotask">
        SELECT t.*
            FROM share s
            JOIN scMoAnnoTask t ON s.task_id = t.task_id
            WHERE s.share_id = #{shareId};
    </select>
</mapper>